<section class="admin-dashboard">
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="stats">
    <h2>Store Stats:</h2>
    <ul>
      <li>
        Total Products: <%= @product_count %>
      </li>
      <li>
        Total Categories: <%= @category_count %>
      </li>
    </ul>
  </div>
</section>
